<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weddingapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeddingApp">
        <activity
            android:name=".GiftAddPopupWindow"
            android:screenOrientation="portrait"
            android:theme="@style/PopupActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            />
        <activity
            android:name=".DataInput"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity android:name=".KyrkaScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".LokalScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuestionsScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".BordsplaceringScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".KladkodScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".WishlistScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".KorschemaScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".PlatsScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".BoendeScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>